## ðŸ“š `tips` Veri Seti â€“ Pandas UygulamalÄ± Ã–dev

### âœ… AdÄ±m 0: Veri Setini YÃ¼kle

In [38]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset("tips")

### ðŸ“Œ 1. Temel GÃ¶zlemler

In [39]:
# 1. Veri setinin ilk 10 satÄ±rÄ±
print(df.head(10))

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [40]:
# 2. SatÄ±r ve sÃ¼tun sayÄ±sÄ±
print("SatÄ±r sayÄ±sÄ±:", df.shape[0])
print("SÃ¼tun sayÄ±sÄ±:", df.shape[1])

SatÄ±r sayÄ±sÄ±: 244
SÃ¼tun sayÄ±sÄ±: 7

In [41]:
# 3. SÃ¼tun adlarÄ± ve veri tipleri
print(df.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [42]:
# 4. Eksik veri kontrolÃ¼
print(df.isnull().sum())

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

### ðŸ“Œ 2. SeÃ§im ve Filtreleme

In [43]:
# 5. total_bill > 20
high_total_bill = df[df['total_bill'] > 20]
print(high_total_bill)

     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[97 rows x 7 columns]

In [44]:
# 6. Hem smoker hem de cinsiyeti Male olanlar
male_smokers = df[(df['smoker'] == 'Yes') & (df['sex'] == 'Male')]
print(male_smokers)

     total_bill    tip   sex smoker   day    time  size
56        38.01   3.00  Male    Yes   Sat  Dinner     4
58        11.24   1.76  Male    Yes   Sat  Dinner     2
60        20.29   3.21  Male    Yes   Sat  Dinner     2
61        13.81   2.00  Male    Yes   Sat  Dinner     2
62        11.02   1.98  Male    Yes   Sat  Dinner     2
63        18.29   3.76  Male    Yes   Sat  Dinner     4
69        15.01   2.09  Male    Yes   Sat  Dinner     2
76        17.92   3.08  Male    Yes   Sat  Dinner     2
80        19.44   3.00  Male    Yes  Thur   Lunch     2
83        32.68   5.00  Male    Yes  Thur   Lunch     2
90        28.97   3.00  Male    Yes   Fri  Dinner     2
95        40.17   4.73  Male    Yes   Fri  Dinner     4
96        27.28   4.00  Male    Yes   Fri  Dinner     2
97        12.03   1.50  Male    Yes   Fri  Dinner     2
98        21.01   3.00  Male    Yes   Fri  Dinner     2
105       15.36   1.64  Male    Yes   Sat  Dinner     2
106       20.49   4.06  Male    Yes   Sat  Dinner     2
107       25.21   4.29  Male    Yes   Sat  Dinner     2
138       16.00   2.00  Male    Yes  Thur   Lunch     2
170       50.81  10.00  Male    Yes   Sat  Dinner     3
171       15.81   3.16  Male    Yes   Sat  Dinner     2
172        7.25   5.15  Male    Yes   Sun  Dinner     2
173       31.85   3.18  Male    Yes   Sun  Dinner     2
174       16.82   4.00  Male    Yes   Sun  Dinner     2
175       32.90   3.11  Male    Yes   Sun  Dinner     2
176       17.89   2.00  Male    Yes   Sun  Dinner     2
177       14.48   2.00  Male    Yes   Sun  Dinner     2
179       34.63   3.55  Male    Yes   Sun  Dinner     2
180       34.65   3.68  Male    Yes   Sun  Dinner     4
181       23.33   5.65  Male    Yes   Sun  Dinner     2
182       45.35   3.50  Male    Yes   Sun  Dinner     3
183       23.17   6.50  Male    Yes   Sun  Dinner     4
184       40.55   3.00  Male    Yes   Sun  Dinner     2
187       30.46   2.00  Male    Yes   Sun  Dinner     5
189       23.10   4.00  Male    Yes   Sun  Dinner     3
190       15.69   1.50  Male    Yes   Sun  Dinner     2
192       28.44   2.56  Male    Yes  Thur   Lunch     2
193       15.48   2.02  Male    Yes  Thur   Lunch     2
194       16.58   4.00  Male    Yes  Thur   Lunch     2
196       10.34   2.00  Male    Yes  Thur   Lunch     2
199       13.51   2.00  Male    Yes  Thur   Lunch     2
200       18.71   4.00  Male    Yes  Thur   Lunch     3
204       20.53   4.00  Male    Yes  Thur   Lunch     4
206       26.59   3.41  Male    Yes   Sat  Dinner     3
207       38.73   3.00  Male    Yes   Sat  Dinner     4
208       24.27   2.03  Male    Yes   Sat  Dinner     2
210       30.06   2.00  Male    Yes   Sat  Dinner     3
211       25.89   5.16  Male    Yes   Sat  Dinner     4
216       28.15   3.00  Male    Yes   Sat  Dinner     5
217       11.59   1.50  Male    Yes   Sat  Dinner     2
218        7.74   1.44  Male    Yes   Sat  Dinner     2
220       12.16   2.20  Male    Yes   Fri   Lunch     2
222        8.58   1.92  Male    Yes   Fri   Lunch     1
224       13.42   1.58  Male    Yes   Fri   Lunch     2
230       24.01   2.00  Male    Yes   Sat  Dinner     4
231       15.69   3.00  Male    Yes   Sat  Dinner     3
234       15.53   3.00  Male    Yes   Sat  Dinner     2
236       12.60   1.00  Male    Yes   Sat  Dinner     2
237       32.83   1.17  Male    Yes   Sat  Dinner     2
241       22.67   2.00  Male    Yes   Sat  Dinner     2

In [45]:
# 7. YalnÄ±zca 'total_bill', 'tip', 'day' sÃ¼tunlarÄ±nÄ± iÃ§eren DataFrame oluÅŸturma
df_selected = df[['total_bill', 'tip', 'day']]
print(df_selected.head())

   total_bill   tip  day
0       16.99  1.01  Sun
1       10.34  1.66  Sun
2       21.01  3.50  Sun
3       23.68  3.31  Sun
4       24.59  3.61  Sun

### ðŸ“Œ 3. Yeni SÃ¼tunlar OluÅŸturma

In [46]:
# 10. tip_rate = tip / total_bill
df['tip_rate'] = df['tip'] / df['total_bill']
print(df[['total_bill', 'tip', 'tip_rate']].head())

   total_bill   tip  tip_rate
0       16.99  1.01  0.059447
1       10.34  1.66  0.160542
2       21.01  3.50  0.166587
3       23.68  3.31  0.139780
4       24.59  3.61  0.146808

### ðŸ“Œ 4. Gruplama ve Ã–zetleme

In [47]:
# 11. `smoker` durumuna gÃ¶re `tip` ortalamalarÄ±
avg_tip_by_smoker = df.groupby('smoker')['tip'].mean()
print(avg_tip_by_smoker)

smoker
Yes    3.008710
No     2.991854
Name: tip, dtype: float64

<ipython-input-47-dd1ae8396a2c>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_tip_by_smoker = df.groupby('smoker')['tip'].mean()

In [48]:
# 12. day ve timeâ€™a gÃ¶re gruplama ile total_bill ortalamasÄ±
avg_bill_by_day_time = df.groupby(['day', 'time'])['total_bill'].mean()
print(avg_bill_by_day_time)

day   time
Thur  Lunch     17.664754
      Dinner    18.780000
Fri   Lunch     12.845714
      Dinner    19.663333
Sat   Lunch           NaN
      Dinner    20.441379
Sun   Lunch           NaN
      Dinner    21.410000
Name: total_bill, dtype: float64

<ipython-input-48-8c5ee125582a>:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  avg_bill_by_day_time = df.groupby(['day', 'time'])['total_bill'].mean()

### ðŸ“Œ 5. SÄ±ralama ve DeÄŸer SayÄ±mÄ±

In [49]:
# 13. `day` sÃ¼tununda en sÄ±k gelen gÃ¼n
most_common_day = df['day'].value_counts().idxmax()
print("En sÄ±k gelen gÃ¼n:", most_common_day)

En sÄ±k gelen gÃ¼n: Sat

In [50]:
# 14. Sex sÃ¼tunundaki kadÄ±n erkek oranlarÄ± (%)
sex_percentage = df['sex'].value_counts(normalize=True) * 100
print(sex_percentage)

sex
Male      64.344262
Female    35.655738
Name: proportion, dtype: float64

### ðŸ“Œ 6. CSV KaydÄ±

In [51]:
# 15. CSV olarak kaydetme
df.to_csv("tips_analiz.csv", index=False)